body {
    margin: 0;
    padding: 0;
    background-color: lightblue;
}

.gameMenu {
    width: 680px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.gameMenu img {
    display: inline-block;
    margin: 10px;
    float: left;
    width: 256px;
    height: 256px;
}

.playerSelect img:hover {
    transform: scale(1.1);
}

p {
    color: red;
    text-align: center;
    font-size: 40px;
}

.typeSelect img {
    margin: 20px;
    border-width: 5px;
    border-style: outset;
}

.typeSelect .selected img {
    border-style: inset;
}
