body {
    margin: 0;
    padding: 0;
    background-color: lightblue;
}

.playerImages {
    width: 560px;
    height: 512px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.playerImages img {
    display: inline-block;
    margin: 10px;
    float: left;
    width: 256px;
    height: 256px;
}

.playerImages img:hover {
    transform: scale(1.1);
}

p {
    color: red;
    text-align: center;
    font-size: 40px;
}
